@use "src/colors" as colors;
@use "src/typographies" as typographies;

.illustration {
  object-fit: cover;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: block;
}

.video {
  width: 100%;
  height: auto;
  aspect-ratio: 560/315;
}
