@font-face {
  font-family: 'Inter-Light';
  src: url('Inter-Light.eot');
  src:
    url('Inter-Light.eot?#iefix') format('embedded-opentype'),
    url('Inter-Light.woff2') format('woff2'),
    url('Inter-Light.woff') format('woff'),
    url('Inter-Light.ttf') format('ttf'),
    url('Inter-Light.svg#Inter-Light') format('svg');
  font-style: normal;
  font-weight: 300;
}
