@font-face {
  font-family: 'Inter-SemiBold';
  src: url('Inter-SemiBold.eot');
  src:
    url('Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('Inter-SemiBold.woff2') format('woff2'),
    url('Inter-SemiBold.woff') format('woff'),
    url('Inter-SemiBold.ttf') format('ttf'),
    url('Inter-SemiBold.svg#Inter-SemiBold') format('svg');
  font-style: normal;
  font-weight: demi;
}
